*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


body{
}

nav{
    float: right;
    margin: 50px 200px 0 0;
    font-size: 1.2em;
    color: white;
}

nav span{
    margin: 0 20px 0 20px;
    color: white;
}

nav a{
    color:rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: 200ms;
}

    nav a:hover{
        color: #EA7667;
    }

.landingPage{
    height: 110vh;
    background-color: #09224f;
    background-blend-mode: multiply;
    color:rgba(255, 255, 255, 0.75);

}

.about{
    width: 60%;
    padding-top: 30vh;
    padding-left: 15vh;
    font-size: 1.9em;
}

.highlight{
    color: #00C6C1;
}

.skills{
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
    background-color: #F5F9FB;
    height: 50vh;

}

.skillBox{
    width: 20%;
    margin: -25px auto 0 auto;
    background-color: white;
    padding: 25px;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    -moz-box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    height: 40vh;
}

.projectPage{
    height: 100vh;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(244,244,244,1);
    -moz-box-shadow: 0px 0px 40px 0px rgba(244,244,244,1);
    box-shadow: 0px 0px 40px 0px rgba(244,244,244,1);

}

.inline{
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between;
}

.introText{
    width: 35vw;
    font-size: 1.5em;
    margin-left: 100px;
    padding-top: 100px;
}

.introText h1{
    padding-bottom: 10px;
}

.introText p{
    line-height: 30pt;
}

.introText a{
    text-decoration: none;
    color:#EA7667;
    transition: 200ms;
}

    .introText a:hover{
        color: #00C6C1;
    }

.pic1{
    padding: 2rem;
    background-color: #585858cb;
    width: 25vw;
    height: calc(25vw / 1.5);
    background-image: url(../Bilder/CreateMe.PNG);
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 10px;
    color: white;
    margin-top: 100px;
    margin-left: -5vw;
    -webkit-box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    -moz-box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    transition: 500ms;
}

    .pic1:hover{
        background-color: #09224f;
        cursor: pointer;
    }



.pic2{
    padding: 2rem;
    background-color: #585858cb;
    width: 25vw;
    height: calc(25vw / 1.5);
    background-image: url(../Bilder/TetrisReal.PNG);
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 10px;
    color: white;
    margin-top: 100px;
    margin-right: 2.5vw;
    -webkit-box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    -moz-box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    transition: 500ms;
}

    .pic2:hover{
        background-color: #09224f;
        cursor: pointer;
    }

.pic3{
    padding: 2rem;
    background-color: #585858cb;
    width: 55vw;
    height: calc(25vw / 1.5);
    background-image: url(../Bilder/survey.PNG);
    background-size: cover;
    background-blend-mode: multiply;
    border-radius: 10px;
    color: white;
    margin-top: 50px;
    margin-left: 41.4vw;
    -webkit-box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    -moz-box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    box-shadow: 10px 10px 38px 0px rgba(204,204,204,0.87);
    transition: 500ms;
}

    .pic3:hover{
        background-color: #09224f;
        cursor: pointer;
    }



.cardTitle{
    padding-bottom: 20px;
}

.cardText{
    line-height: 20pt;
}

.techInfo{
    padding-top: 5%;
    font-size: 0.75em;
    opacity: 0.75;
}
    

footer{
    background-color: #09224f;
    color: white;
    padding: 1rem;
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between;
    height: 200px;
}

.why{
    width: 20%;
    align-self: center;
}

.sMedia{
    align-self: center;
}

.downFooter{
    align-self: center;
}

footer a{
    color:rgba(255, 255, 255, 0.75);
    text-decoration: none;
    transition: 200ms;
}

    footer a:hover{
        color: #EA7667;
    }

